/*!
 * Start Bootstrap - New Age v5.0.8 (https://startbootstrap.com/themes/new-age)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-new-age/blob/master/LICENSE)
 */

html,
body {
  width: auto;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #e2b645;
  transition: all .35s;
}

a:hover, a:focus {
  color: #d3a121;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: #313131;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #e2b645;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #d3a121;
}

header.masthead {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("../img/bg2.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

header.masthead .search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header.masthead .search-bar input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px 10px 10px 10px;
  border-bottom: 3px solid #e2b645;
  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header.masthead .search-bar input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

header.masthead .column {
  float: left;
  width: 50%;
  padding: 25px 25px 50px;
  height: auto;
  margin-bottom: auto;
  margin-top: auto;
  align-items: center;
  text-align: center;
}

header.masthead .roww:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  header.masthead {
    height: auto;
  }
  header.masthead .column {
    width: 100%;
  }
}

header.masthead .current-location .current-city, header.masthead .location .city {
  color: #FFF;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 5px;
}

header.masthead .current-location .date, header.masthead .location .date {
  color: #FFF;
  font-size: 20px;
}

header.masthead .current .local-temp, header.masthead .current .temp {
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

header.masthead .current .local-temp span, header.masthead .current .temp span {
  font-weight: 500;
}

header.masthead .current .local-weather, header.masthead .current .weather {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

header.masthead .current .local-hi-low, header.masthead .current .hi-low {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

header.masthead .current .icon {
  color: #FFF;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: #e2b645;
  background: linear-gradient(#e2b645, #dfad2f);
}

.text-primary {
  color: #e2b645;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
