// Styling for the masthead
header.masthead {
    position: relative;

    width: 100%;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;

    color: white;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url('../img/bg2.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    



       //NEW NEW NEW

       .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 15px 15px;
      }
      
      .search-bar input {
        width: 100%;
        max-width: 280px;
        padding: 10px 15px;
        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 10px 10px 10px 10px;
        border-bottom: 3px solid #e2b645;
        
        color: #313131;
        font-size: 20px;
        font-weight: 300;
        transition: 0.2s ease-out;
      }
      
      .search-bar input:focus {
        background-color: rgba(255, 255, 255, 0.6);
      }

       .column {
        float: left;
        width: 50%;
        padding: 25px 25px 50px;
        height: auto;
        margin-bottom: auto;
        margin-top: auto;
        align-items: center;
        text-align: center;
      }
      
      .roww:after {
        content: "";
        display: table;
        clear: both;
      }
      
      @media screen and (max-width: 600px) {
        height: auto;
        .column {
          width: 100%;
        }
      }


.current-location .current-city, .location .city {
    color: #FFF;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .current-location .date, .location .date {
    color: #FFF;
    font-size: 20px;
  }
  
  .current .local-temp, .current .temp {
    color: #FFF;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
  }
  
  .current .local-temp span, .current .temp span {
    font-weight: 500;
  }
  
  .current .local-weather, .current .weather {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  }
  
  .current .local-hi-low, .current .hi-low {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
  }
  
  .current .icon {
    color: #FFF;
  }
    
}


