// Styling for the navbar
#mainNav {
    border-color: fade-out(lighten(black, 13.5%), .95);
    background-color: lighten(black, 13.5%);
    @include transition-all;
    @include heading-font;
    .navbar-brand {
        color: #e2b645;
        @include heading-font;
        &:hover,
        &:focus {
            color: darken(#e2b645, 10%);
        }
    }
    
    
}
